<!DOCTYPE html>
	<html>
		<meta http-equiv="refresh" content="0;url=https://guanxiux.github.io/selfie/">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://guanxiux.github.io/selfie/">Home</a></li>
		        	<!-- <li><a href="/mobicom">MobiCom</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:xxguan@cs.hku.hk">email</a></li>
	        		<li><a href="https://github.com/guanxiux">github.com/guanxiux</a></li>
				</ul>
			</footer>
		</body>
	</html>
